organoid_analysis/progs/*
progs/
organoid_analysis/tests/test_data/*
organoid_analysis/logs/*

!organoid_analysis/scripts/scripts_ic/
organoid_analysis/scripts/scripts_ic/*
!organoid_analysis/scripts/scripts_ic/analysis

organoid_analysis/scripts/scripts_ic/analysis/output/*


*._*
*.pyc
*.pyc*
*ipynb
*.tiff
*.png
*smbdelete*

organoid_analysis/testing/.smbdeleteAAA470eb8d3

**/.ipynb_checkpoints/*
.DS_Store

**/.DS_Store
